.flex-between {
    margin: 15px 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden {
    visibility: hidden;
}

.flex-center {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.person-photo {
    height: 100px;
}
