.main-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin-top: 5px;
}

.month-label {
    font-family: "Ubuntu", serif;
    font-weight: bold;
    font-size: x-large;
    color: #d9d9d9;
}

.calendar {
    margin-top: 9px;
    width: 95%;
    height: 90vh;
    border-collapse: collapse;
}

.calendar-header {
    color: #d9d9d9;
    font-weight: bold;
    text-align: center;
}

.calendar td {
    width: 14%;
    font-family: "Ubuntu", serif;
    border: 1px #7c7c7c solid;
    background-color: #464545;
}

.calendar tbody td {
    height: 16vh;
}

.current-day {
    border: #c064b8 3px solid !important;
}

.busy-day {
    border: #c69002 2px solid !important;
}

.cell-flex {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    overflow-y: auto;
}

.day-number {
    color: #d9d9d9;
}

.calendar-header td:nth-child(6),
.calendar-header td:nth-child(7),
.calendar tbody td:nth-child(6) .day-number,
.calendar tbody td:nth-child(7) .day-number {
    color: #ff8083;
}

.task {
    display: flex;
    align-items: center;
    border-bottom: #7c7c7c 1px solid;
    padding-top: 3px;
    padding-bottom: 3px;
}

.task-description {
    color: #d9d9d9;
    font-family: "Ubuntu Light", serif;
    font-size: 0.7rem;
}
