.input-label {
    color: #d9d9d9;
    font-family: Ubuntu, serif;
    margin-top: 10px;
    margin-bottom: 3px;
}

.field-description {
    color: #d9d9d9;
    font-family: Ubuntu, serif;
    font-size: small;
    margin-bottom: 5px;
}

.dark-text-input {
    background-color: #464545;
    color: #d9d9d9;
    font-size: medium;
    border-radius: 5px;
    border: #808080 2px solid;
    height: 30px;
}

.dark-button {
    background-color: #773f72;
    border: none;
    font-family: Ubuntu, serif;
    color: #d9d9d9;
    font-size: medium;
    padding: 10px;
    border-radius: 5px;
}

.dark-button:hover {
    background-color: #984f92;
    cursor: pointer;
}

.dark-button:active {
    background-color: #d36eca;
    cursor: pointer;
}

.dark-cancel-button {
    background-color: #656565;
    border: none;
    font-family: Ubuntu, serif;
    color: #d9d9d9;
    font-size: medium;
    padding: 10px;
    border-radius: 5px;
}

.dark-cancel-button:hover {
    background-color: #808080;
    cursor: pointer;
}

.dark-cancel-button:active {
    background-color: #b4b4b4;
    cursor: pointer;
}

.dark-create-button {
    background-color: #0d761d;
    border: none;
    font-family: Ubuntu, serif;
    color: #d9d9d9;
    font-size: medium;
    padding: 10px;
    border-radius: 5px;
}

.dark-create-button:hover {
    background-color: #0f9423;
    cursor: pointer;
}

.dark-create-button:active {
    background-color: #16d731;
    cursor: pointer;
}

.tight-button {
    padding: 5px 1px 1px;
}

.button-icon-flex {
    padding: 10px;
    display: flex;
    align-items: center;
}

.dark-checkbox {
    accent-color: #984f92;
}

.dark-select {
    background-color: #464545;
    font-family: Ubuntu, serif;
    color: #d9d9d9;
    font-size: medium;
    padding: 5px;
    border: #808080 2px solid;
    border-radius: 5px;
}

.dark-text-area {
    background-color: #464545;
    font-family: Ubuntu, serif;
    color: #d9d9d9;
    font-size: medium;
    border: #808080 2px solid;
    border-radius: 5px;
    min-height: 100px;
    width: 98%;
}

.empty-message-flex {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-message {
    font-family: Ubuntu, serif;
    color: #d9d9d9;
}

.error-messages-container {
    background-color: #6d0011;
    color: #d9d9d9;
    font-family: "Liberation Sans", sans-serif;
    font-size: small;
    font-weight: bold;
    padding: 10px;
    border-radius: 7px;
}
