.flex-around {
    margin: 15px 15px;
    display: flex;
    justify-content: space-around;
}

.flex-right {
    margin-top: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: end;
}

.flex-center {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.mr {
    margin-right: 10px;
}

.display-none {
    display: none;
}
