.main-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-article {
    font-family: "Ubuntu", serif;
    color: #d9d9d9;
    background-color: #3e3e3e;
    padding: 25px;
    border-radius: 10px;
}

.help-header {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.paragraph {
    margin-top: 25px;
}

.term-flex {
    display: flex;
    align-items: center;
}

.term-description {
    margin-left: 5px;
}

.term {
    font-weight: bold;
}

.example {
    margin-top: 5px;
    margin-left: 50px;
    font-style: italic;
}

