.list-table {
    color: #d9d9d9;
    font-family: "Ubuntu", serif;
    border-collapse: collapse;
}

.list-table > thead {
    text-align: center;
    font-weight: bold;
    border-bottom: #7c7c7c 1px solid;
}

.list-table tbody tr:hover td {
    background-color: #626262;
}

.list-table td {
    padding: 5px 20px;
    background-color: #4d4d4d;
}

.list-table td.centered-cell {
    text-align: center;
}

.list-table td.buttons-cell {
    display: table-cell;
    vertical-align: center;
}

.inline {
    display: inline;
}

.ml {
    margin-left: 5px;
}
