.main-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-messages-container {
    text-align: center;
}

.login-form {
    background-color: #3e3e3e;
    padding: 15px;
    border-radius: 10px;
}

.checkbox-flex {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.checkbox-label {
    margin-left: 3px;
}

.checkbox-margin {
    margin-top: 15px;
}

.button-flex {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
