html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
}

.navbar {
    background-color: #3e3e3e;
}

.main-area {
    height: 100%;
    overflow-y: scroll;
    background-color: #343434;
}

.logo {
    color: #df4a16;
    font-weight: bolder;
    font-family: Ubuntu, serif;
    font-style: italic;
    font-size: 36px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    letter-spacing: 5px;
}

.separator {
    width: 90%;
    margin-left: 5%;
    border-top: #7c7c7c 1px solid;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-name {
    text-align: center;
    color: #d9d9d9;
    font-family: Ubuntu, serif;
    font-size: large;
    font-style: italic;
}

.link {
    display: block;
    width: 70%;
    margin-left: 10%;
    color: #c2c2c2;
    font-family: "Ubuntu Light", serif;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.link:hover {
    background-color: #626262;
}

.link:active {
    color: #3e3e3e;
    background-color: #df4a16;
}

.link-flex {
    display: flex;
    align-items: center;
}

.link-text {
    margin-left: 5px;
}

.submenu-header {
    font-family: "Ubuntu Light", serif;
    font-weight: bold;
    font-size: smaller;
    margin-left: 13%;
    color: #c2c2c2;
    margin-bottom: 5px;
}

.submenu-wrapper {
    margin-left: 5%;
}

.current-link {
    color: #3e3e3e;
    background-color: #df4a16 !important;
}
