.main-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-form {
    background-color: #3e3e3e;
    padding: 15px;
    border-radius: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.input-width {
    width: 95%;
}

.dark-datetime-input {
    font-size: large;
}

.buttons-flex {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.dark-cancel-button {
    margin-top: 10px;
}
