.main-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-form {
    background-color: #3e3e3e;
    padding: 15px;
    border-radius: 10px;
}

.input-width {
    width: 95%;
}

.radios-list-wrapper {
    background-color: #464545;
    font-family: Ubuntu, serif;
    font-size: medium;
    color: #d9d9d9;
    border: #808080 2px solid;
    border-radius: 5px;
    max-height: 100px;
    overflow-y: scroll;
}

.radio-option {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.radio-option-label {
    display: flex inline;
    align-items: center;
}

.option-icon {
    margin-right: 5px;
}

.select-flex, .file-input-flex {
    display: flex;
    justify-content: center;
}

.buttons-flex {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.dark-cancel-button {
    margin-top: 10px;
}
