.status-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.counters {
    font-family: Ubuntu, serif;
    color: #d9d9d9;
    display: flex;
    align-items: center;
}

.out-of-date-label {
    margin-left: 30px;
}

.counter {
    font-size: large;
    font-weight: bold;
    margin-left: 5px;
}

.pending-counter {
    color: #c69002;
}

.out-of-date-counter {
    color: #ff8083;
}

.notifications-area {
    margin-left: 5%;
    margin-right: 5%;
}

.day-header {
    background-color: #4d4d4d;
    padding: 5px 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-family: Ubuntu, serif;
    font-weight: bold;
    color: #d9d9d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.day-collapse-mark {
    font-size: x-large;
}

.day-header:hover {
    background-color: #626262;
    cursor: pointer;
}

.pending-border {
    border: #c69002 2px solid;
}

.out-of-date-border {
    border: #ff8083 2px solid;
}

.display-none {
    display: none;
}

.day-container {
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #4d4d4d;
}

.notification {
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 5fr 1fr 2fr;
    font-family: Ubuntu, serif;
    color: #d9d9d9;
}

.notification-column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-icon {
    height: 40px;
}

.done {
    text-decoration-line: line-through;
    text-decoration-thickness: 2px;
}

.person-photo {
    height: 75px;
}

.notification-separator {
    border-top: #7c7c7c 1px solid;
    margin-top: 5px;
    margin-bottom: 5px;
}

.pagination-flex {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    visibility: hidden;
}

.pagination-label {
    margin-left: 30px;
    margin-right: 30px;
    font-family: Ubuntu, serif;
    color: #d9d9d9;
}
