.main-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-form {
    background-color: #3e3e3e;
    padding: 15px;
    border-radius: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.button-flex {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
