.flex-between {
    margin: 15px 15px;
    display: flex;
    justify-content: space-between;
}

.flex-center {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.priority-group-wrapper {
    display: inline-flex;
    align-items: center;
}

.priority-group-wrapper:not(.priority-group-wrapper:last-of-type) {
    margin-right: 20px;
}

.priority-count {
    margin-left: 3px;
}
