.flex-between {
    display: flex;
    justify-content: space-between;
    margin: 15px 15px;
}

.flex-right {
    display: flex;
    justify-content: end;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mr {
    margin-right: 10px;
}

.radios-list-wrapper {
    background-color: #464545;
    font-family: Ubuntu, serif;
    font-size: medium;
    color: #d9d9d9;
    border: #808080 2px solid;
    border-radius: 7px;
    max-height: 100px;
    overflow-y: scroll;
}

.radio-option {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.radio-option-label {
    display: flex inline;
    align-items: center;
}

.tasks-catalog {
    width: 95%;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.column {
    display: flex;
    flex-direction: column;
}

.task-card {
    margin: 10px;
    border-radius: 10px;
    border: #808080 2px solid;
    background-color: #464545;
    font-family: Ubuntu, serif;
    color: #d9d9d9;
}

.card-controls-panel {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-checkbox-wrapper {
    border: #808080 2px solid;
}

.card-checkbox-wrapper:hover {
    background-color: #5d5c5c;
}

.card-checkbox-wrapper:active {
    background-color: #2cd43c;
}

.checkmark-icon {
    pointer-events: none;
}

.category-label {
    padding: 3px 10px;
    border-radius: 5px;
}

.inline {
    display: inline;
}

.ml {
    margin-left: 5px;
}

.card-separator {
    width: 100%;
    border-top: #7c7c7c 1px solid;
    display: flex;
}

.card-content {
    padding: 10px;
    color: #cccccc;
    text-align: justify;
}

.card-image {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 80px;
}

.show-button {
    padding: 3px;
}

.hidden {
    visibility: hidden;
}

.display-none {
    display: none;
}
